@charset "UTF-8"; /* コードの文字化けを防ぐ */
/* borderやpaddingで指定される枠線や余白の大きさを要素の幅・高さ(width・height)に含める */
* { 
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
/* /ここまで共通設定 */
.wrapper {
  max-width: 1100px;
  padding: 0 4%;
  margin: 0 auto;
}

/* header */
.page-header {
  display: flex;  
  justify-content: space-between;
}

.logo {
  width: 210px;
  margin-top: 15px;
}

.main-nav {
  display: flex;
  margin-top: 40px;
}

.main-nav li {
  font-size: 20px;  
  margin-left: 36px
}

.main-nav a {
  color: #443322;
}

.main-nav a:hover {
  color: #00BBDD;
}

/* main-content */
.main-content {
  text-align: center;
  margin-top: 11%;
  color: #443322;
  
}

/* 見出し */
.main-content h2 {
  font-family: Philosopher, serif;
  font-size: 5rem;
  font-weight: normal;
  
}

.main-content p {
  font-size: 1.1rem;
  margin-top: 40px;
}

/* ボタン */
.button {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  background-color: #00BBDD;
  padding: 20px 35px;
  margin-top: 30px;
  border-radius: 5px;
}

.button:hover {
  background-color: #0090aa;
}

/* home */
#home {
  background-image: url(main-bg.jpg);
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
}
